:root {
  --main-text-color: #212121;
  --main-background-color: #ffffff;
  --second-background-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-bgc-btn: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  /* width: 1600px; */
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.span {
  color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* -----------INDEX.HTML------------- */
/* --------HEADER------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: inherit;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link.current {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-address-list {
  display: flex;
  margin-left: auto;
  /* gap: 50px; */
}

.header-address-item:not(:first-child) {
  margin-left: 50px;
}

.header-address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--accent-color);
}

/* -----------HERO----------- */

.hero {
  background: var(--second-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  max-width: 696px;
  margin: 0 auto 30px;
}

.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0 auto;
  padding: 10px 32px;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ------------BENEFITS-------------- */

.benefits-list {
  display: flex;
  align-items: center;
  margin-left: -30px;
}

.benefits-item {
  max-width: 270px;
  flex-basis: calc(100% / 4 - 30);
  margin-left: 30px;
}

.benefits-item-titel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefets-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------------OFFERS-------------- */
.offers {
  padding-top: 0;
}

.offers-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.offers-list {
  display: flex;
  margin-left: -30px;
}

.offers-item {
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
}

/* -----------TEAM----------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc((100%-90px) / 3);
  margin-left: 30px;
  background: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-item-text {
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* -----------FOOTER---------- */

.footer {
  background-color: var(--second-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer-address {
  font-style: normal;
  margin-top: 20px;
}

.footer-adddres-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  margin-bottom: 9px;
}

.footer-adddres-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-address-color);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

/* -----------PORTFOLIO.HTML------------- */

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  /* gap: 8px; */
  margin-bottom: 50px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border: transparent;
  background: var(--portfolio-bgc-btn);
  border-radius: 4px;
  color: inherit;
  cursor: pointer;
  padding: 6px 22px;
}

.portfolio-btn.current {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--second-text-color);
  background: var(--accent-color);
}

.portfolio-galery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-galery-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.portfolio-card-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-galery-titel {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-galery-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
